/****************Imports****************/

/*Font raleway. 400n&i, 600n&i, 700n&i, 800n&i*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

/****************Vars****************/

:root {
    --main-bg-color: #F5F5F5;
    --second-bg-color: #EAF2FD;
    --third-bg-color: #ffffff;
    --main-color: #464646;
    --main-font-family: 'Raleway', sans-serif;
}

/****************Resets****************/

*, *::before, *::after, *:focus{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/****************Styles****************/

body{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
}

#contacto{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#contacto .contacto-bloque-izquierdo{
    width: 35%;
    margin-right: 8px;
}
#contacto .contacto-bloque-izquierdo img{
    width: 100%;
}
#contacto .contacto-bloque-derecho{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    width: calc(65% - 8px);
}
#contacto .contacto-welcome h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
#contacto .contacto-welcome p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
#contacto .contacto-welcome span{
    display: block;
}
#contacto .contacto-bloque-derecho form{
    display: flex;
    flex-direction: column;
}
.contacto-bloque-derecho form input{
    height: 56px;
    margin: 16px 0;
    border-bottom: 2px solid #C8C8C8;
    font-size: 16px;
    line-height: 20px;
    padding-left: 6px;
}
.contacto-bloque-derecho form input:focus{
    outline: none;
    border-bottom-color: #2A7AE4;
}
.contacto-bloque-derecho form textarea{
    margin: 16px 0;
    border-bottom: 2px solid #C8C8C8;
    font-size: 16px;
    line-height: 20px;
    padding-left: 6px;
}
.contacto-bloque-derecho form textarea:focus{
    outline: none;
    border-bottom-color: #2A7AE4;
}
.contacto-bloque-derecho form button{
    margin: 16px 0;
    width: 144px;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/****************Media querys****************/

/*1440, desktop clasico*/
@media only screen and (max-width : 1440px) {
    #contacto .contacto-bloque-izquierdo{
        margin-left: 32px;
    }
    #contacto .contacto-bloque-derecho{
        margin-right: 32px;
    }
}

/*992, desktop pequeño o tablet grande*/
@media only screen and (max-width : 992px) {
}

/*640, tablet pequeña*/
@media only screen and (max-width : 640px) {
}

/*424, mobile*/
@media only screen and (max-width : 424px) {
}

/*300, mobile pequeño*/
@media only screen and (max-width : 300px) {
}