/****************Imports****************/

/*Font raleway. 400n&i, 600n&i, 700n&i, 800n&i*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

/****************Vars****************/

:root {
    --main-bg-color: #F5F5F5;
    --second-bg-color: #EAF2FD;
    --third-bg-color: #ffffff;
    --main-color: #464646;
    --main-font-family: 'Raleway', sans-serif;
}

/****************Resets****************/

*, *::before, *::after, *:focus{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/****************Styles****************/

body{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
}