/*Formacion*/
#formacion{
    background-color: var(--second-bg-color);
    width: 100%;
    padding: 64px 0;
}
#formacion .formacion-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}
.formacion-contenedor h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 16px 0;
}
.formacion-contenedor-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formacion-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 8px;
    width: 350px;
}
.formacion-box div{
    text-align: center;
}
.formacion-box div img{
    width: 100%;
}
.formacion-box h4{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0;
}
.formacion-box a{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formacion-box a::after{
    content: url('/assets/arrow_back.svg');
}
.formacion-box a span{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.formacion-box-special div{
    align-self: center;
}
.formacion-box-special div img{
    height: 250px;
    padding: 20px 0;
}
/****************Media querys****************/

/*1440, desktop clasico*/
@media only screen and (max-width : 1440px) {
    #formacion .formacion-contenedor{
        margin: 0 32px;
    }
}

/*992, desktop pequeño o tablet grande*/
@media only screen and (max-width : 992px) {
    .formacion-box{
        width: 280px;
    }
    .formacion-contenedor h3{
        font-size: 22px;
        line-height: 26px;
    }
    .formacion-box h4{
        font-size: 16px;
        line-height: 19px;
    }
    .formacion-box a span{
        font-size: 14px;
        line-height: 16px;
    }
}

/*640, tablet pequeña*/
@media only screen and (max-width : 640px) {
    .formacion-box{
        width: calc(100% - 16px);
    }
    #formacion .formacion-contenedor{
        margin: 0 8px;
    }
    .formacion-contenedor-bottom{
        flex-direction: column;
    }
    .formacion-box div{
        /*width: 100%;*/
        text-align: center;
        /*padding: 20px 0;*/
    }   
}