/*Experiencia*/
#experiencia{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#experiencia h3{
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    margin: 32px 0;
}
#experiencia article{
    display: flex;
    flex-direction: row;
    margin: 0 32px;
}
.experiencia-bloque-izquierdo{
    width: calc(65% - 16px);
    margin-right: 16px;
    height: 406px;
}
.experiencia-bloque-derecho{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experiencia-bloque-derecho h4{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0px;
}
.experiencia-bloque span{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 8px 0px;
}
.experiencia-botonera{
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
}
.experiencia-botonera button{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 16px;
    padding: 10px;
}
.btn1{
    color: #2A7AE4;
    background-color: var(--main-bg-color);
    border: 1px solid #2A7AE4;
    transition: all ease-in-out 0.1s;
}
.btn1:hover{
    color: var(--main-bg-color);
    background-color: #2A7AE4;
}
.btn2{
    color: #ffffff;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    transition: all ease-in-out 0.1s;
}
.btn2:hover{
    color: #2A7AE4;
    background-color: white;
}

/****************Media querys****************/

/*992, desktop pequeño o tablet grande*/
@media only screen and (max-width : 992px) {
    #experiencia h3{
        font-size: 22px;
        line-height: 26px;
    }
    #experiencia article{
        flex-direction: column;
    }
    #experiencia .experiencia-column-reverse{
        flex-direction: column-reverse;
    }
    .experiencia-bloque-izquierdo{
        width: 100%;
        margin: 0;
    }
    .experiencia-bloque-derecho{
        width: 100%;
    }
    .experiencia-bloque-derecho h4{
        font-size: 16px;
        line-height: 19px;
    }
    .experiencia-bloque-derecho span{
        font-size: 14px;
        line-height: 16px;
    }
    .experiencia-botonera button{
        font-size: 14px;
        line-height: 16px;
    }
}

/*300, mobile pequeño*/
@media only screen and (max-width : 300px) {
    .experiencia-botonera{
        flex-direction: column;
    }
    .experiencia-botonera button{
        margin: 5px 0;
    }
}